/* FONTS
font-family: 'Permanent Marker', cursive;
font-family: 'Monoton', cursive;!
font-family: 'Bungee Inline', cursive;
font-family: 'Megrim', cursive;
font-family: 'Codystar', cursive;
font-family: 'Nosifer', cursive;
*/

:root{
    --coal: rgba(75, 74, 74, 1);
    --purple: rgba(121, 107, 232, 1);
    --lime-green: rgba(201, 255, 5, 1);
    --red-orange: rgba(248, 71, 114, 1);
    --bright-turquois: rgba(0, 211, 209, 1);
}
*{
    margin: 0px;
}
html, body{
    padding: 0px;
    background-color: var(--coal);
    font-family: 'Monoton', cursive;
}
#player img, #computer img{
    margin: 20px 10px;
    height: 80px;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 2px 5px var(--coal);
    transition: transform 0.2s;
}
@media screen and (min-height: 600px){
    #player img, #computer img{
        height: 95px;
    }
}
@media screen and (min-height: 740px){
    #player img, #computer img{
        margin: 20px 15px;
        height: 105px;
    }
}
@media screen and (min-height: 1000px){
    body{
        font-size: 1.5rem;
    }
    #player img, #computer img{
        height: 200px;
        box-shadow: 2px 15px var(--coal);
    }
}
@media screen and (min-width: 1000px){
    #player img, #computer img{
        margin: 20px 30px;
        height: 200px;
        box-shadow: 2px 20px var(--coal);
    }
}

/* BUTTONS */
#reset-btn{
    background-color: var(--purple);
}
#start-over{
    padding: 5px;
    border: none;
    border-radius: 50px;
    background-color: var(--red-orange);
    color: black;
    font-family: 'Monoton', cursive;
    font-size: 0.6rem; 
}
@media screen and (min-width: 100px){
    #start-over{
        padding: 10px;
        font-size: 1.5rem; 
    }
}


/* PLAYER & COMPUTER */
#player-score{
    height: 15vh;
    text-align: center;
    background-color: var(--purple);
    color: var(--lime-green);
}
#player{
    height: 35vh;
    text-align: center;
    background-color: var(--purple);
}
#computer{
    height: 35vh;
    text-align: center;
    background-color: var(--bright-turquois);
}
#computer-score{
    height: 20vh;
    text-align: center;
    background-color: var(--bright-turquois);
    color: var(--red-orange);
}
@media screen and (min-width: 1025px){
    body{
        font-size: 1.8rem;
    }
    #computer-score{
        padding-top: 50px;
        height: 10vh;
    }
}
#display-player-score, #display-computer-score{
    display: block;
}
@media screen and (orientation: landscape){
    #display-player-score, #display-computer-score{
        display: inline;
    }
}

/* Tie */
#tie{
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent; 
}
#tie img{
    margin: 0;
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Click & Hover Action */
#player img:hover, .win{
    transform: scale(1.2);
}
.lose {
    /* W3Schools Shake Animation: Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: 2;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg) }
    10% { transform: translate(-1px, -2px) rotate(-1deg)  }
    20% { transform: translate(-3px, 0px) rotate(1deg)  }
    30% { transform: translate(3px, 2px) rotate(0deg)  }
    40% { transform: translate(1px, -1px) rotate(1deg)  }
    50% { transform: translate(-1px, 2px) rotate(-1deg)  }
    60% { transform: translate(-3px, 1px) rotate(0deg)  }
    70% { transform: translate(3px, 1px) rotate(-1deg)  }
    80% { transform: translate(-1px, -1px) rotate(1deg) }
    90% { transform: translate(1px, 2px) rotate(0deg)  }
    100% { transform: translate(1px, -2px) rotate(-1deg) }
  }

  /* Hidden */

  .hide{
      display: none;
  }